@model FamilyMemories.Models.FamilyMemberImageViewModel
@{
}
<h1>Upload Image</h1>
<hr/>
<div class="row">
    <div class="col-mt-3">
        <form asp-action="Upload" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Image.ShortDescription" class="control-label"></label>
                <input asp-for="Image.ShortDescription" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                
                <input asp-for="Image.ImageFile" accept="image/*" />
            </div>
            <br />
            
            <div class="col-mt-3t">
                
                <select 
                    class="js-multiple-select form-control" 
                    multiple="multiple" 
                    asp-for="Options" 
                    asp-items="@Model.Options" 
                    data-placeholder="Select All People in the Picture"></select>
            </div>
              
            <label>Family member in the picture, but not in the list?
                <a href="/FamMembers/Add">
                     Add them please
                </a>
            </label>
            <br  />
            <br />
            <button type="submit" class="btn btn-primary">Upload Image</button>
        </form>
    </div>
</div>