@model FamilyMemories.Models.UpdateFamilyMemberViewModel
@{
}

<h1>Update Family Member</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Directory</label>
        <input type="text" class="form-control" asp-for="Directory" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Middle Name</label>
        <input type="text" class="form-control" asp-for="MiddleName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
    @*<div class="mb-3">
        <label for="" class="form-label">SpouseId</label>
        <input type="text" class="form-control" asp-for="SpouseId">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">FatherId</label>
        <input type="text" class="form-control" asp-for="FatherId">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">MotherId</label>
        <input type="text" class="form-control" asp-for="MotherId">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">SiblingIds (comma separated list)</label>
        <input type="text" class="form-control" asp-for="SiblingIds">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">ChildrenIds (comma separated list)</label>
        <input type="text" class="form-control" asp-for="ChildrenIds">
    </div>*@

    <button type="submit" class="btn btn-primary"
        asp-action="View"
        asp-controller="FamMembers">Update</button>

    <button type="submit" class="btn btn-danger" 
        asp-action="Delete"
        asp-controller="FamMembers">Delete</button>
</form>
