<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Family Memories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FamilyMemories.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Bootstrap/multiselect-13/css/select2.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Bootstrap/multiselect-13/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="~/Bootstrap/multiselect-13/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <header>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FamilyMemories - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/jquery.multiselect.js"></script>
    <script src="~/Bootstrap/multiselect-13/js/popper.min.js"></script>
    <script src="~/Bootstrap/multiselect-13/js/bootstrap.min.js"></script>
    <script src="~/Bootstrap/multiselect-13/js/select2.min.js"></script>
    <script src="~/Bootstrap/multiselect-13/js/main.js"></script>

    <!-- Include the Bootstrap CSS and JavaScript files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Include the multi-select control's CSS and JavaScript files -->
    <link rel="stylesheet" href="path/to/multi-select.css">
    <script src="path/to/multi-select.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
