@model FamilyMemories.Models.FamilyMember
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.FirstName's Images</h1>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th>Picture</th>
        <th>People in the Picture</th>
        <th>Short Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
      </tr>
      <tr class="align-bottom">
        
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td class="align-top">This cell is aligned to the top.</td>
      </tr>
    </tbody>
  </table>
</div>
<button type="submit" class="btn btn-primary">Add</button>

